* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

.sub-body {
    margin-top: 0;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

#header-1 {
    background-color: lightblue;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

#header-1 a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    text-align: center;
    color: black;
}

#flower {
    rotate: 90deg;
    filter: blur(5px);
    width: 50%;

}

#flower:hover {
    filter: blur(0px);
}

/* about me page innehåll ändringar */
#flower-white {
    width: 100%;
}


#about-me-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

#about-me-header a {
    text-decoration: none;
}

.sub-body a {
    color: black;
}

#dancing-patrik {
    rotate: 70deg;
    
}

#pink-balloon {
    width:200px;
    position: absolute;
    left: 100px;
    
}